:root {
    --notchSize: 12px;
}

.button {
    display: inline-block;
    position: relative;
    padding: 0.5em 2.5em;
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--heading-font);
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    cursor: pointer;
    clip-path: 
    polygon(
      0% 0%, 
      var(--notchSize) 0%, 
      calc(100% - var(--notchSize)) 0%, 
      100% var(--notchSize), 
      100% calc(100% - var(--notchSize)), 
      100% 100%, 
      var(--notchSize) 100%, 
      0% calc(100% - var(--notchSize))
    );
    border: 0px;
    
    transition: 0.1s all;
}

.button-default {
    color: rgb(var(--color-emphasis));
    background-color: rgb(var(--color-emphasis));
}

.button-default:hover {
    color: rgb(var(--color-primary));
    background-color: rgb(var(--color-primary));
}

.button-default:before {
    --border-width: 2px;
    --inner-size: calc(var(--border-width) * 2);
    content: '';
    display: inline-block;
    overflow: hidden;
    position: absolute;
    top: var(--border-width);
    left: var(--border-width);
    width: calc(100% - var(--inner-size));
    height: calc(100% - var(--inner-size));
    background: rgb(var(--color-background));
    clip-path: 
    polygon(
      0% 0%, 
      var(--notchSize) 0%, 
      calc(100% - var(--notchSize)) 0%, 
      100% var(--notchSize), 
      100% calc(100% - var(--notchSize)), 
      100% 100%, 
      var(--notchSize) 100%, 
      0% calc(100% - var(--notchSize))
    );
    z-index: -1;
}

.button-primary {
    color: rgb(var(--color-emphasis));
    background-color: rgb(var(--color-primary));
}
.button-primary:hover {
    color: rgb(var(--color-emphasis));
    background-color: rgba(var(--color-primary),0.66);
}

.button-secondary {
    color: rgb(var(--color-emphasis));
    background-color: rgb(var(--color-secondary));
}
.button-secondary:hover {
    color: rgb(var(--color-emphasis));
    background-color: rgba(var(--color-secondary),0.66);
}