/* @font-face {
    font-family: 'FixedSysExcelsior';
    src: url('/fonts/FIXEDSYS-EXCELSIOR_3.01.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

/* 

>>> Brand Color Reference <<<

Light Blurple: rgb(98, 123, 255)
Goth Purple: rgb(173, 97, 255)
Near Black: rgb(32, 35, 51)
Grey AF: rgb(119, 125, 153)
Near White: rgb(232, 234, 240)

*/

:root {
    --color-primary: 98, 123, 255;
    /*--color-secondary: 191, 89, 254;*/
    --color-secondary: 173, 97, 255;
    --color-emphasis: 32, 35, 51;
    --color-base: 119, 125, 153;
    --color-muted: 232, 234, 240;
    --color-background-muted: 225, 225, 225;
    --color-background: 255, 255, 255;

    --accent: 98, 123, 255;
    --accent-hover: #b5f3ff;
    --accent-active: #00a2cc;

    --link: 0, 0, 0;
    --link-hover: 0, 31, 184;
    --link-active: 120, 120, 120;

    --element-glow: #0066ff;
    --text-muted: 100, 100, 100;
    --text-body: #3c3c3c;
    --glow: #9E00FF;
    --dark-background: 0, 0, 0;
    --dark-background-secondary: 175, 175, 175;
    --border-muted: #646464;
    --heading-font: 'Aldrich', sans-serif;
    --body-font: 'Roboto Mono', monospace;
    --mono-font: Consolas, monospace;

    --accent-gradient: linear-gradient(10deg, rgba(255,255,255, 0.2), rgba(255,255,255, 0.8) 100%);
    --accent-gradient-secondary: linear-gradient(45deg, rgb(var(--color-primary)), rgb(var(--color-secondary)) 30%);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --color-primary: 98, 123, 255;
        --color-secondary: 191, 89, 254;
        --color-emphasis: 252, 252, 252;
        --color-background: 20, 20, 20;
        --color-background-muted: 45, 45, 45;

        --text-emphasis: #fff;
        --link: 105, 105, 255;
        --link-hover: 211, 105, 255;
        --dark-background: 0, 0, 0;
        --dark-background-secondary: 0, 24, 52;
    }
    html {
        background-color: rgba(var(--color-background));
        color: rgb(199, 199, 199);
    }
    p {
        color: rgba(255,255,255,0.6);
    }
    h1,h2,h3,h4,h5,h6 {
        color: white;
    }
    svg {
        fill: #cecece;
    }
} */

html {
    font-family: var(--body-font);
    font-weight: 400;
    font-size: 14px;
    background-color: rgb(var(--color-background));
    line-height: 1.5em;
}
body {
    max-width: 1600px;
    margin: auto;
}
code {
    font-family: var(--mono-font);
}
h1,.text-h1,h2,.text-h2,h3,.text-h3,h4,.text-h4,h5,.text-h5,h6,.text-h6 {
    font-family: var(--heading-font);
    font-weight: 400;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgb(var(--color-emphasis));
}
h1, .text-h1 {
    font-size: 2.75rem;
    line-height: 3.75rem;
}
h2, .text-h2 {
    font-size: 2rem;
    line-height: 2.5rem;
}
h3, .text-h3 {
    font-size: 1.5rem;
    line-height: 2rem;
}
h4, .text-h4 {
    font-size: 1.2rem;
    line-height: 1.5rem;
}
h5, .text-h5 {
    font-size: 1rem;
    line-height: 1.25rem;
}
h6, .text-h6 {
    font-size: 0.8rem;
    line-height: 1rem;
}
.heading-small {
    font-family: var(--heading-font);
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 300;
}
.heading-medium {
    font-family: var(--heading-font);
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 300;
}
.subheading {
    font-family: var(--mono-font);
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 400;
}
.text-divider {
    display: inline-block;
    width: 100%;
    padding-bottom: 0.7rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid var(--border-muted);
}
.margin-remove {
    margin: 0;
}
p, span, li {
    color: rgb(var(--color-base));
}
a {
    color: rgb(var(--color-primary));
    text-decoration: none;
}
strong {
    color: rgb(var(--color-emphasis));
}
a:hover {
    color: rgba(var(--color-primary), 0.66);
}
a:active {
    color: rgb(var(--link-active));
}

.text-background {
    background: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hidden-small, .hidden-medium, .hidden-large {
    display: none;
}
.visible-small, .visible-medium, .visible-large {
    display: block;
}

section {
    padding: 0 40px;
    overflow: hidden;
}

.background-0 {}

.background-1 {
    background-image: url('/graphics/Background-DiagonalShade-v0.svg');
    background-size: cover;
}

.side-borders {
    display: block;
    position: relative;
    margin: auto;
}

.side-borders::before {
    content: '';
    display: block;
    position: absolute;
    top: -60px;
    left: -120px;
    height: calc(100% + 120px);
    width: 50px;
    background-image: url('/graphics/SideBorder-Left.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.side-borders::after {
    content: '';
    display: block;
    position: absolute;
    top: -60px;
    right: -120px;
    height: calc(100% + 120px);
    width: 50px;
    background-image: url('/graphics/SideBorder-Right.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.max-width-small, .max-width-medium, .max-width-large {
    display: block;
    margin: 0 auto;
}
.max-width-small {
    max-width: 600px;
}
.max-width-medium {
    max-width: 900px;
}
.max-width-large {
    max-width: 1200px;
}

@media (min-width: 640px) {
    .hidden-small {
        display: block;
    }
    .visible-small {
        display: none;
    }
}
@media (min-width: 960px) {
    .hidden-medium {
        display: block;
    }
    .visible-medium {
        display: none;
    }
}
@media (min-width: 1280px) {
    .hidden-large {
        display: block;
    }
    .visible-large {
        display: none;
    }
}

.align-left {
    float: left;
    margin: 0 1rem 1rem 0;
}
.width-50 {
    width: 50%;
    height: auto;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex-align-center {
    align-items: center;
}
.flox-row {
    flex-direction: row;
}
.flex-row-reverse {
    flex-direction: row-reverse;
}
.flex-column {
    flex-direction: column;
}
.flex-align-center {
    align-items: center;
}
.text-align-center {
    text-align: center;
}
.text-align-right {
    text-align: right;
}
.justify-evenly {
    justify-content: space-evenly;
}
.justify-center {
    justify-content: center;
}
@media(min-width: 640px) {
.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
}
.flex-4 {
    flex: 4;
}
}