---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import info from '../../info.json';
---

<Layout title="Welcome to Astro.">
    <main>
        <h1>About <span class="text-gradient">Myself</span></h1>
        <div id="personalInfo">
            <h3>Stats</h3>
            <p>
                Name: {info.details.name}<br />
                Location: {info.details.location}<br />
                Position: {info.details.title}<br />
            </p>
        </div>

        <h2>Work Experience</h2>
        
        <img src="../../public/Portfolio_Profile_Desktop-Wide.webp" alt="Jesse squinting at camera" width="100%" height="auto"/>
        <p>
            I've been designing, building, and supporting WordPress websites for a wide variety of clients with different needs at CS Design Studios since 2015. My education has come from on-the-job experience, and from doing personal projects on my own time. I'm very grateful to CS for taking a chance on me and giving me the opportunity to learn and start my career, and I love the people I currently work with.</p>
        <p>
            I started out at CS with a
            focus on Graphic Design using Photoshop and Illustrator, designing
            website concepts as well as business cards, flyers, physical mailers, newsletters, posters, billboards, and more. I've even done some motion graphics with Adobe After Effects and video editing with Premier. Eventually I started doing less of that and more website development with Joomla, and later with WordPress.
        </p>
        <h3>WordPress Development</h3>
        <p>
            We learned how to streamline the process in order to reduce development time without sacrificing quality. I helped my team to master a particular WordPress theme called <a href="https://YOOtheme.com/" target="_blank">YOOtheme</a>. We decided it met our needs and ran with it for new website builds, and it allowed us to quickly build "Concepts" or "Prototypes" with nice consistent UI style themes that we could easiy configure. Once we nailed down a UI theme and the client was on board with it, we could then pretty quickly build out the rest of the site without much creative skill required. All our previous sites were rebuilt as we continued to build all the new websites, which made it easy for other team members with varying levels of expertise to support all our 200+ websites.
        </p>
        <p>
            This new process decreased the level of technical and design skill that projects generally called for. Of course not completely, it still takes effort to make a visually nice and well functioning website with YOOtheme, its just quicker and easier now. 
        </p>
        <h3>CS Website Projects</h2>
        <p>
            I've designed and built a lot of websites for a variety of companies.
        </p>

        <ul>
            <li>CS Design Studios</li>
            <li>Flock Off</li>
            <li>Mil-Spec Liner</li>
            <li>Pest Friends</li>
            <li>Pima Air & Space Museum</li>
            <li>Asian Trade Rug Company</li>
            <li>UTV Shop</li>
            <li>Tucson Wellness MD</li>
            <li>Rose Academies</li>
            <li>Trico Electric Coop</li>
            <li>Black & Yellow Paving</li>
            <li>Chauncey Meyer</li>
            <li>Cloud Chief Technologies</li>
            <li>The Pascua Yaqui Tribe of AZ</li>
            <li>Tucson Indian Center</li>
            <li>Big Brothers Big Sisters of Tucson</li>

        </ul>

        <p>
            ... and more.
        </p>
        <h3>Personal Projects</h3>
        <p>
            On my own time I would explore new frameworks and technologies. I tried to spend time learning more about WordPress which definitely improved the way we do things with plugins and themes in our sites, and helped increased my ability to troubleshoot issues and solve various problems. I also did personal coding projects with Python, JavaScript, and C# (Unity Game Development), and I took any opportunities to program things for clients when they came up, like custom plugins, webscrapers, raffles, etc.
        </p>
        

        <h2>Employment History</h2>
        <ul role="list" class="link-card-grid">
            <Card
                href=""
                title="CS Design Studios"
                body="Graphics, Web Design & Development, Project Management"
            />
            <Card
                href=""
                title="Cloud Chief Technologies"
                body="Graphics & Web Development"
            />
            <Card
                href=""
                title="Flock Off"
                body="Graphics, Website Design & Development"
            />
            <Card
                href=""
                title="Solutions Today"
                body="Graphic Design for Rose Academies custom software project."
            />
        </ul>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 80ch;
    }
    h1 {
        font-size: 3rem;
        font-weight: 800;
        margin: 0;
    }
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
    .instructions {
        line-height: 1.6;
        margin: 1rem 0;
        border: 1px solid rgba(var(--accent), 25%);
        background-color: white;
        padding: 1rem;
        border-radius: 0.4rem;
    }
    .instructions code {
        font-size: 0.875em;
        font-weight: bold;
        background: rgba(var(--accent), 12%);
        color: rgb(var(--accent));
        border-radius: 4px;
        padding: 0.3em 0.45em;
    }
    .instructions strong {
        color: rgb(var(--accent));
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
        gap: 1rem;
        padding: 0;
    }
    #personalInfo {
        font-family: monospace; 
    }
</style>