---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css"
import "../styles/form.css"
import "../styles/buttons.css"
---

<script src="https://unpkg.com/@botpoison/browser" async></script>

<Layout title="Contact Me">
            <section class="flex flex-column flex-align-center justify-center flex-grow background-0" style="margin-top: 0px;">
                <div class="max-width-small">
                    <h1>Contact <span class="text-color-primary" style="white-space: nowrap;">Alpha Chrome</span></h1>
                    <form id="contactForm" class="contact-form" method="POST" action="https://submit-form.com/FgccWuMw" data-botpoison-public-key="pk_456b13f7-f835-443c-8468-d6d289624189">
                        <div>
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name"placeholder="Name" required="true" />
                        </div>
                        <div>
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email"placeholder="Email" required="true" />
                        </div>
                        <div class="full-width">
                            <label for="subject">Subject</label>
                            <select id="subject" name="subject" required="false">
                                <option value="Design">Design</option>
                                <option value="Development">Website Build</option>
                                <option value="Design & Build">Design & Build</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="full-width">
                            <label for="message">Message</label>
                            <textarea
                              id="message"
                              name="message"
                              placeholder="Message"
                              required="false"
                            ></textarea>
                        </div>
                        <div>
                            <button type="submit" id="submitButton" class="button button-default" data-sitekey="6LfT14MoAAAAAOkh1HJazLGOOTQvd57S46HiDHhf" data-callback="onSubmit">Send -></button>
                        </div>
                    </form>
                </div>
            </section>
</Layout>

<style>
    #reCaptcha {
        width: 100%;
    }
    .text-color-primary {
        color: rgba(var(--color-primary));
    }
    h1 {
        text-align: center;
    }
</style>