---
import info from "../../info.json";
import Layout from "../layouts/Layout.astro";
import "../styles/root.css"
import "../styles/form.css"
import "../styles/buttons.css"
---

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<Layout title="Contact Me">
    <main>
        <div>
            <h1>Contact Me</h1>
            <p>Feel free to reach out to me at <a href="mailto:{info.contact.email}">{info.contact.email}</a>, or call <a href="tel:{info.contact.phone}">{info.contact.phone}</a>.</p>
            <form id="contactForm" class="contact-form" action="https:/submit-form.com/FgccWuMw">
                <div>
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name"placeholder="Name" required="true" />
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email"placeholder="Email" required="true" />
                </div>
                <div class="full-width">
                    <label for="subject">Subject</label>
                    <select id="subject" name="subject" required="false">
                        <option value="Design">Design</option>
                        <option value="Development">Website Build</option>
                        <option value="Design & Build">Design & Build</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="full-width">
                    <label for="message">Message</label>
                    <textarea
                      id="message"
                      name="message"
                      placeholder="Message"
                      required="false"
                    ></textarea>
                </div>
                <div id="reCaptcha" class="g-recaptcha full-width" data-sitekey="6LeTkIgoAAAAALatR_qYUhXcfCanvMD6EG2NKU9V">
                </div>
                <div>
                    <button type="submit" class="button-default" data-sitekey="6LfT14MoAAAAAOkh1HJazLGOOTQvd57S46HiDHhf" data-callback="onSubmit">Send</button>
                </div>
            </form>              
        </div>
    </main>
</Layout>

<style>
    #reCaptcha {
        width: 100%;
    }
    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>