---
import Layout from "../layouts/Layout.astro";
import "../styles/buttons.css";
//import pricing from "../../pricing.json";
//import Panel from "../components/Panel.astro";
---

<Layout title="Estimate Calculator">
    <h1>Project Estimator</h1>
    <div id="totalDisplay">Total: <span id="total">$0.00</span></div>
    <div id="projectType" class="step">
        <h2>New Website Project</h2>
        <div class="selection" data-service="project-new">
            <h2>New Website</h2>
            <p>Start from nothing.</p>
        </div>
        <div class="selection" data-service="project-redesign">
            <h2>Redesign</h2>
            <p>Modernize or improve upon your existing site.</p>
        </div>
        <div class="selection" data-service="project-takeover">
            <h2>Takeover</h2>
            <p>Have Chrome Dog take control.</p>
        </div>
    </div>
    <div id="websiteType" class="step">
        <h2>Website Type</h2>
        <div class="selection" data-service="type-1">
            Option 1
        </div>
        <div class="selection" data-service="type-2">
            Option 2
        </div>
        <div class="selection" data-service="type-3">
            Option 3
        </div>
    </div>
    <div id="design" class="step">
        <h2>Grop Type</h2>
        <div class="selection" data-service="design-custom">
            Custom Design
        </div>
        <div class="selection" data-service="design-template">
            Use a Template
        </div>
    </div>

    <div id="stepNav">
        <button type="button" id="prevBtn" class="button button-default" data-step="-1"><- Previous</button>
        <button type="button" id="nextBtn" class="button button-default" data-step="1">Next -></button>
    </div>

<!-- Circles which indicates the steps of the form: -->
<!-- <div style="text-align:center;margin-top:40px;">
    <span class="step-icon"></span>
    <span class="step-icon"></span>
    <span class="step-icon"></span>
    <span class="step-icon"></span>
</div> -->
</Layout>

<style>
/* Style the input fields */

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}
</style>

<script>
var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form ...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  // ... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").innerHTML = "Submit";
  } else {
    document.getElementById("nextBtn").innerHTML = "Next";
  }
  // ... and run a function that displays the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form... :
  if (currentTab >= x.length) {
    //...the form gets submitted:
    document.getElementById("regForm").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}

function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByTagName("input");
  // A loop that checks every input field in the current tab:
  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    if (y[i].value == "") {
      // add an "invalid" class to the field:
      y[i].className += " invalid";
      // and set the current valid status to false:
      valid = false;
    }
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class to the current step:
  x[n].className += " active";
}
</script>

<style>
    .selection {
        border: solid 2px rgba(var(--color-primary), 1);
        padding: 20px;
        margin-bottom: 20px;
    }
    .selection:hover {
        cursor: pointer;
    }
    .selected {
        border-color: rgba(var(--color-secondary), 1);
    }
    .step {
        display: none;
    }
    .display {
        display: block !important;
    }
    .button {
        margin: 20px;
    }
    #stepNav {
        text-align: center;
    }
</style>

<script defer>
const steps = document.querySelectorAll(".step");
const navButtons = document.querySelectorAll("[data-step]");

const prevButton = document.querySelector("#prevBtn");
const nextButton = document.querySelector("#nextBtn");

let currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form ...
  steps[n].style.display = "block"
  // ... and fix the Previous/Next buttons:
  if (n == 0) {
    prevButton.style.display = "none";
  } else {
    prevButton.style.display = "inline";
  }
  if (n == (steps.length - 1)) {
    nextButton.innerHTML = "Submit";
  } else {
    nextButton.innerHTML = "Next ->";
  }
}

navButtons.forEach(button => {
    button.addEventListener('click', () => {
        // Hide the current tab:
        steps[currentTab].style.display = "none";
        // Increase or decrease the current tab by 1:
        currentTab += parseInt(button.dataset.step);
        // Display the correct tab:
        showTab(currentTab);
    })
})
</script>

<script src="../scripts/estimator.js"></script>
