---
import Layout from "../layouts/Layout.astro";
import "../styles/buttons.css";
//import pricing from "../../pricing.json";
//import Panel from "../components/Panel.astro";
---

<Layout title="Estimate Calculator">
    <h1>Project Estimator</h1>
    <div id="totalDisplay">Total: <span id="total">$0.00</span></div>
    <div id="projectType" class="step">
        <h2>New Website Project</h2>
        <div class="selection" data-service="project-new">
            <h2>New Website</h2>
            <p>Start from nothing.</p>
        </div>
        <div class="selection" data-service="project-redesign">
            <h2>Redesign</h2>
            <p>Modernize or improve upon your existing site.</p>
        </div>
        <div class="selection" data-service="project-takeover">
            <h2>Takeover</h2>
            <p>Have Chrome Dog take control.</p>
        </div>
    </div>
    <div id="websiteType" class="step">
        <h2>Website Type</h2>
        <div class="selection" data-service="type-1">
            Option 1
        </div>
        <div class="selection" data-service="type-2">
            Option 2
        </div>
        <div class="selection" data-service="type-3">
            Option 3
        </div>
    </div>
    <div id="design" class="step">
        <h2>Grop Type</h2>
        <div class="selection" data-service="design-custom">
            Custom Design
        </div>
        <div class="selection" data-service="design-template">
            Use a Template
        </div>
    </div>

    <div id="stepNav">
        <button type="button" id="prevBtn" class="button button-default" data-step="-1"><- Previous</button>
        <button type="button" id="nextBtn" class="button button-default" data-step="1">Next -></button>
    </div>

<!-- Circles which indicates the steps of the form: -->
<!-- <div style="text-align:center;margin-top:40px;">
    <span class="step-icon"></span>
    <span class="step-icon"></span>
    <span class="step-icon"></span>
    <span class="step-icon"></span>
</div> -->
</Layout>

<style>
    .selection {
        border: solid 2px rgba(var(--color-primary), 1);
        padding: 20px;
        margin-bottom: 20px;
    }
    .selection:hover {
        cursor: pointer;
    }
    .selected {
        border-color: rgba(var(--color-secondary), 1);
    }
    .step {
        display: none;
    }
    .display {
        display: block !important;
    }
    .button {
        margin: 20px;
    }
    #stepNav {
        text-align: center;
    }
</style>

<script defer>
const steps = document.querySelectorAll(".step");
const navButtons = document.querySelectorAll("[data-step]");

const prevButton = document.querySelector("#prevBtn");
const nextButton = document.querySelector("#nextBtn");

let currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form ...
  steps[n].style.display = "block"
  // ... and fix the Previous/Next buttons:
  if (n == 0) {
    prevButton.style.display = "none";
  } else {
    prevButton.style.display = "inline";
  }
  if (n == (steps.length - 1)) {
    nextButton.innerHTML = "Submit";
  } else {
    nextButton.innerHTML = "Next ->";
  }
}

navButtons.forEach(button => {
    button.addEventListener('click', () => {
        // Hide the current tab:
        steps[currentTab].style.display = "none";
        // Increase or decrease the current tab by 1:
        currentTab += parseInt(button.dataset.step);
        // Display the correct tab:
        showTab(currentTab);
    })
})
</script>

<script src="../scripts/estimator.js"></script>
