---
import Layout from "../layouts/Layout.astro";
import pricing from "../../pricing.json";
---

<Layout title="Estimate Calculator">
    <span id="total">$0.00</span>
    <form>

    </form>
</Layout>

