---
import '../styles/global.css';
import '../styles/buttons.css';
import Layout from "../layouts/Layout.astro";
//import {Image} from 'astro:assets';
---

<Layout title="Chrome Dog">
	<div id="container" class="flex flex-column justify-center">
		<div class="flex flex-column flex-align-center">
			<!-- <Image 
				src="/logos/ChromeDog_Logo-Text-DM-Neon-Animated.svg" 
				srcset=""
				width="400" height="450" 
				alt="Chrome Dog Logo" 
				id="logo"
			/> -->
			<picture id="logoDisplay">
				<source srcset="/logos/ChromeDog_Logo-Text-DM-Neon-Animated.svg" media="(prefers-color-scheme: dark)" />
				<source srcset="/logos/ChromeDog_Logo-Text-LM.svg" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)" />
				<img decoding="async" id="logo" src="/logos/ChromeDog_Logo-Text-LM.svg" width="400" height="450" />
			</picture>
			<h1 class="text-h2 text-align-center">Web Development & Design</h1>
			<a href="/contact" class="button button-default">Contact Me -></a>
		</div>
	</div>
</Layout>

<style>
	#container {
		flex-grow: 1;
		overflow: hidden;
		align-items: center;
		max-width: 90%;
		margin: 0 auto;
	}
	#logo {
		max-width: 100%;
		height: auto;
	}
	h1 {
		color: rgba(var(--color-muted), 1);
		font-family: var(--mono-font);
	}
	#logoDisplay {
		padding: 40px;
		background-image: url("/graphics/Grid-Accent.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
</style>
