---
import "../styles/global.css";
import "../styles/buttons.css";
import Layout from "../layouts/Layout.astro";
import ScrollingLogoColumn from "../components/ScrollingLogoColumn.astro";
import LogoShift from "../components/LogoShift.astro";
//import {Image} from 'astro:assets';
---

<Layout title="Alpha Chrome">
  <section id="container" class="flex flex-column flex-grow justify-center">
    <div
      id="hero"
      class="flex md:flex-row justify-center flex-align-center gap-32"
    >
    <LogoShift />
      <div id="heroContent">
        <img
          src="/logos/AlphaChrome_Logo-Text-Grey.svg"
          width="400px"
          height="40px"
          alt="Alpha Chrome"
          style="max-width: 100%;"
        />
        <h1 class="text-align-center">Web Design & Development</h1>
        <a href="/contact" class="button button-primary">Get a Quote</a>
      </div>
    </div>
  </section>
</Layout>

<style>
  #hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    max-width: 100%;
  }
  #heroContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 600px;
    max-width: 100%;
    overflow: hidden;
    z-index: 1;
  }
  #container {
    margin-top: 0;
    overflow-x: clip;
    overflow-y: visible;
  }
  #logo {
    max-width: 100%;
    height: auto;
  }
  #hero h1 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    margin: auto;
  }
  @media(min-width: 640px) {
    #hero h1 { 
      font-size: 2.2rem;
    }
  }
  #hero p {
    margin: auto;
  }
  #logoDisplay {
    padding: 40px;
    background-image: url("/graphics/Grid-Accent.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .text-color-primary {
    color: rgb(var(--color-primary));
  }
</style>
