---
import '../styles/global.css';
import Logo from '../components/Logo.astro';
import VerticalNav from '../components/VerticalNav.astro';
import Footer from '../components/Footer.astro';
import OrbitalElement from '../components/OrbitalElement.astro';
---

<div id="container" class="flex flex-column justify-evenly">
	<Logo />
	<VerticalNav />
	<Footer />
</div>
<OrbitalElement />

<style>
#container {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
	/* main {
		margin: auto;
		max-width: 1600px;
		overflow: hidden;
	} */
</style>
