---
import '../styles/global.css';
import Logo from '../components/Logo.astro';
import VerticalNav from '../components/VerticalNav.astro';
import Footer from '../components/Footer.astro';
import OrbitalElement from '../components/OrbitalElement.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/logos/CloudChief_Logo-Ship-Up-Ring.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Designer & Developer Jesse Higgins</title>
	</head>
<body>
	<div id="container" class="flex flex-column justify-evenly">
		<Logo />
		<VerticalNav />
		<Footer />
	</div>
</body>
<OrbitalElement />
</html>

<style>
#container {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
}
</style>
