---
import '../styles/global.css';
import '../styles/buttons.css';
import Layout from "../layouts/Layout.astro";
import {Image} from 'astro:assets';
---

<Layout title="Chrome Dog">
	<div id="container" class="flex flex-column justify-center">
		<div class="flex flex-column flex-align-center">
			<Image src="/logos/ChromeDog_Logo-Text-V2.svg" width="400" height="450" alt="Chrome Dog Logo" id="logo"/>
			<h1 class="text-h2 text-align-center">Web Development & Design</h1>
			<a href="/" class="button button-default">Estimator</a>
		</div>
	</div>
</Layout>

<style>
	#container {
		flex-grow: 1;
		overflow: hidden;
	}
	#logo {
		max-width: 100%;
		height: auto;
	}
	h1 {
		color: var(--color-muted);
	}
</style>
