---
import info from "../../info.json";
import Layout from "../layouts/Layout.astro";
import TreeList from "../components/TreeList.astro";
import { Image } from "astro:assets"
---

<Layout title="Services">
    <main>
        <h1 class="heading-medium" style="margin-top: 0px;">Online Services</h1>
        <h2>Web Design</h2>
        <p>
            What's the difference between a good design and a bad design? It can be subjective in some ways, but without getting deep into the philosophy of design and aesthetics, visual and functional design can seriously influence how people feel. If you have a well-designed site, users will likely feel good about your brand, as opposed to it being poorly designed or out of date where they might get a false impression about the quality of your work. So reach out to us anytime to discuss a new Web Design project that can put your business in the best light possible.
        </p>
        <h2>Web Development</h2>
        <p>
            We combine solid UI and UX design with functionality and performance to make high-quality websites everyone loves. It's not just about a pretty interface; it's about how well your site works, and how well it engages your audience. Whether it's building responsive layouts, optimizing performance, ensuring robust functionality, or implementing on-page SEO, we excel in crafting websites that do everything they should in 2024.
        </p>
        <h2>Logo & Brand Design</h2>
        <p>
            Your brand is more than just your logo. Your brand is all about how people feel about your company, and while brand development goes deeper, graphic design plays an important role. We can help you get started by creating a brand design guide to unify your brand style across all digital and print media created for your business. 
        </p>
        <h2>Blog Posts</h2>
        <p>
            There are different ways to drive traffic to your site. With Google, you can pay to run PPC Ads, optimize and manage your GBP, or produce relevant written content based on high-ranking keywords for your site. Alpha Chrome doesn’t manage Ads or GBP, but we can create SEO-optimized articles for your site each month that bolster your online presence. You can link to them each week from your Social Media accounts as well as your GBP and drive traffic to your site from all of those sources as well as the Google Search Results. This is one way Alpha Chrome can help to drive traffic to your website and grow interest in your business.
        </p>
    </main>
</Layout>

<style>
    h1 {
        text-align: center;
    }
</style>