---
import info from "../../info.json";
import Layout from "../layouts/Layout.astro";
import TreeList from "../components/TreeList.astro";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";

const currentYear = new Date().getFullYear();
---

<Layout title="Services">
    <main>
        <section class="hero background-1">
            <div class="side-borders">
                <h1 class="heading-medium" style="margin-top: 0px;">Online Services</h1>
                <div class="max-width-small">
                    <p>
                        We specialize in creating digital experiences that put brands in the best light possible and help everyone reach their goals. We hold ourselves to a high standard, paying close attention to the nuances of performance and optimization.
                    </p>
                    <p>
                        We're looking to do business with individuals, companies, non-profits, agencies, or anyone who values design and development integrity. </p>
                        <p>Here's a list of services we offer.
                    </p>
                </div>
            </div>
        </section>
        <div class="background-0">
            <section>
                <div class="max-width-medium">
                    <div class="flex flex-row flex-align-center" style="gap: 20px;">
                        <Image src="/graphics/Icon_SquareGrid-WebDesign.svg" width="100" height="100" alt="Web Design Icon"/>
                        <div style="overflow: hidden;">
                            <h2 class="text-h1" style="margin-bottom: 0px;">Web Design</h2>
                            <img src="/graphics/Divider.svg" width="640" height="auto"/>
                        </div>
                    </div>
                    <div class="max-width-small">
                        <p>
                            What's the difference between a good design and a bad design? It can be subjective in some ways, but without getting deep into the philosophy of design and aesthetics, visual and functional design can seriously influence how people feel.
                        </p>
                        <p>
                            If you have a well-designed site, users will likely feel good about your brand, as opposed to it being poorly designed or out of date where they might get a false impression about the quality of your work. So reach out to us anytime to discuss a new Web Design project that can put your business in the best light possible.
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <div class="max-width-medium">
                    <div class="flex flex-row flex-align-center" style="gap: 20px;">
                        <Image src="/graphics/Icon_SquareGrid-WebDevelopment.svg" width="100" height="100" alt="Web Design Icon"/>
                        <div style="overflow: hidden;">
                            <h2 class="text-h1" style="margin-bottom: 0px;">Web Development</h2>
                            <img src="/graphics/Divider.svg" width="640" height="auto"/>
                        </div>
                    </div>
                    <div class="max-width-small">
                        <p>
                            We combine solid design with seamless functionality and performance to make high-quality websites that everyone loves.
                        </p>
                        <p>
                            It's not just about a pretty interface; it's about how well your site works, and how well it engages your audience. Whether it's building responsive layouts, optimizing performance, ensuring robust functionality, or implementing on-page SEO, we excel in crafting websites that do everything they should in {currentYear}.
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <div class="max-width-medium">
                    <div class="flex flex-row flex-align-center" style="gap: 20px;">
                        <Image src="/graphics/Icon_SquareGrid-Internet.svg" width="100" height="100" alt="Web Design Icon"/>
                        <div style="overflow: hidden;">
                            <h2 class="text-h1" style="margin-bottom: 0px;">Web Hosting</h2>
                            <img src="/graphics/Divider.svg" width="640" height="auto"/>
                        </div>
                    </div>
                    <div class="max-width-small">
                        <p>Alpha Chrome's website hosting is a reliable and comprehensive solution for anyone seeking a hassle-free online presence. </p>
                        <p>
                            We run updates on a regular basis to keep it functional up to date with constantly changing web standards. We can offer a free hour of update requests, and a discounted rate for additional hours.
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <div class="max-width-medium">
                    <div class="flex flex-row flex-align-center" style="gap: 20px;">
                        <Image src="/graphics/Icon_SquareGrid-GraphicDesign.svg" width="100" height="100" alt="Web Design Icon"/>
                        <div style="overflow: hidden;">
                            <h2 class="text-h1" style="margin-bottom: 0px;">Logo & Brand Design</h2>
                            <img src="/graphics/Divider.svg" width="640" height="auto"/>
                        </div>
                    </div>
                    <div class="max-width-small">
                        <p>
                            Your brand is more than just your logo. Your brand is all about how people feel about your company, and while brand development goes deeper, graphic design plays an important role.
                        </p>
                        <p>
                            We can help you get started by creating a brand design guide to unify your brand style across all digital and print media created for your business.
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </main>
</Layout>

<style>
    h1 {
        text-align: center;
    }
    h2 {
        margin-top: 0px;
    }
    section {
        margin: 80px 0;
    }
    .hero {
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(var(--color-muted));
        margin-top: 0;
        margin-bottom: 0;
    }
</style>