---
import Layout from "../layouts/Layout.astro";
import Panel from "../components/Panel.astro";
import Card from "../components/Card.astro";

import "../styles/global.css";
import "../styles/buttons.css";
---

<Layout title="UI Design">
    
<main>
    <section>
        <span class="text-h4 text-divider">Mobile Menu Icon</span>
        <br />
        <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" onclick="this.classList.toggle('opened')">
            <defs>
              <style>
                .rect-vect {
                    fill: #1e1e1e;
                    stroke-width: 0px;
                    transition: all 0.5s;
                    transform-box: fill-box;
                    transform-origin: center;
                }
                .opened #rv-2 {
                    opacity: 0;
                }
                .opened #rv-1 {
                    transform: translate(0, 200%) rotate(135deg);
                }
                .opened #rv-3 {
                    transform: translate(0, -200%)  rotate(-135deg)
                }
              </style>
            </defs>
            <g id="Layer_1-2" data-name="Layer 1">
              <rect id="rv-1" class="rect-vect" y ="10" width="60" height="10"/>
              <rect id="rv-2" class="rect-vect" y="30" width="60" height="10"/>
              <rect id="rv-3" class="rect-vect" y="50" width="60" height="10"/>
            </g>
        </svg>
    </section>
    <section>
        <span class="text-h4 text-divider">Headlines</span>
        <br />
        <h3 class="heading-medium ">Heading Medium <br />Line Height</h3>
        <h3 class="heading-small">Heading Small <br />Line Height</h3>
        <h1>Headline 1 <br />Line Height</h1>
        <h2>Headline 2 <br />Line Height</h2>
        <h3>Headline 3 <br />Line Height</h3>
        <h4>Headline 4 <br />Line Height</h4>
        <h5>Headline 5 <br />Line Height</h5>
        <h6>Headline 6 <br />Line Height</h6>
    </section>
    <section>
        <span class="text-h4 text-divider">Body Text</span>
        <br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisl eget aliquam ultricies, nunc nisl aliquet nunc, vitae aliquam nisl nisl eu nisl. Sed vitae nisl euismod, aliquam nisl eget, aliquam nisl. Sed vitae nisl euismod, aliquam nisl eget, aliquam nisl.</p>
    </section>
    <section>
        <span class="text-h4 text-divider">Buttons</span>
        <br />
    <div>
        <a href="#" class="button button-default">Button Default</a>
        <a href="#" class="button button-primary">Button Primary</a>
        <a href="#" class="button button-secondary">Button Secondary</a>
    </div>
</section>
    <section>
        <div class="grid">
            <Panel
                image="/Portfolio_Profile_Desktop-Wide.webp"
                title="Panel 1"
                meta="Meta"
                body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisl eget aliquam ultricies, nunc nisl aliquet nunc, vitae aliquam nisl nisl eu nisl. "
                href="#"
                target=""
                style="primary"
            />
            <Panel
                image="/JesseAndBrandonDoingPhotography.png"
                title="Panel 2"
                meta="Meta"
                body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisl eget aliquam ultricies, nunc nisl aliquet nunc, vitae aliquam nisl nisl eu nisl. Sed vitae nisl euismod, aliquam nisl eget, aliquam nisl. Sed vitae nisl euismod, aliquam nisl eget, aliquam nisl."
                href="#"
                target=""
                style="secondary"
            />
        </div>
    </section>
    <section>
        <Card 
            image="/logos/AlphaChrome_Logo-Icon.svg"
            title="Card"
            body="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        />
    </section>
</main>

<style>
main {
    max-width: 80ch;
    margin: 0 auto;
}
section {
    margin: 2rem 0;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    align-items: start;
}
</style>