---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Panel from "../components/Panel.astro";

import "../styles/global.css";
---

<Layout title="UI Design">
    
<main>
    <section>
        <span class="text-h4 text-divider">Headlines</span>
        <br />
        <h1>Headline 1</h1>
        <h2>Headline 2</h2>
        <h3>Headline 3</h3>
        <h4>Headline 4</h4>
        <h5>Headline 5</h5>
        <h6>Headline 6</h6>
    </section>
    <section>
        <span class="text-h4 text-divider">Body Text</span>
        <br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisl eget aliquam ultricies, nunc nisl aliquet nunc, vitae aliquam nisl nisl eu nisl. Sed vitae nisl euismod, aliquam nisl eget, aliquam nisl. Sed vitae nisl euismod, aliquam nisl eget, aliquam nisl.</p>
    </section>
    <section>
        <span class="text-h4 text-divider">Buttons</span>
        <br />
    <Button text="Button Default" href="#" styles="button-default"/>
    <Button text="Button Primary" href="#" styles="button-primary"/>
    <Button text="Button Secondary" href="#" styles="button-secondary"/>
</section>

    <section>
        <Card 
            href="#"
            title="Card Title"
            body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisl eget aliquam ultricies, nunc nisl aliquet nunc, vitae aliquam nisl nisl eu nisl. Sed vitae nisl euismod, aliquam nisl eget, aliquam nisl. Sed vitae nisl euismod, aliquam nisl eget, aliquam nisl."
        />
    </section>
    <section>
        <div class="grid">
            <Panel
                image="/Portfolio_Profile_Desktop-Wide.webp"
                title="Panel Title"
                meta="Meta"
                body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisl eget aliquam ultricies, nunc nisl aliquet nunc, vitae aliquam nisl nisl eu nisl. Sed vitae nisl euismod, aliquam nisl eget, aliquam nisl. Sed vitae nisl euismod, aliquam nisl eget, aliquam nisl."
                href="#"
                target=""
                style="primary"
            />
            <Panel
                image="/Portfolio_Profile_Desktop-Wide.webp"
                title="Panel 2"
                meta="Meta"
                body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisl eget aliquam ultricies, nunc nisl aliquet nunc, vitae aliquam nisl nisl eu nisl. Sed vitae nisl euismod, aliquam nisl eget, aliquam nisl. Sed vitae nisl euismod, aliquam nisl eget, aliquam nisl."
                href="#"
                target=""
                style="secondary"
            />
        </div>
    </section>
</main>

<style>
main {
    max-width: 80ch;
    margin: 0 auto;
}
section {
    margin: 2rem 0;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
}
</style>