---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
---

<Layout title="UI Design">
    
<main>
    <section>
        <span>Headlines</span>
        <br />
        <h1>Headline 1</h1>
        <h2>Headline 2</h2>
        <h3>Headline 3</h3>
        <h4>Headline 4</h4>
        <h5>Headline 5</h5>
        <h6>Headline 6</h6>
    </section>
    <section>
        <span>Buttons</span>
        <br />
        <a href="#" class="button">Button Default</a>
        <a href="#" class="button button-primary">Button Primary</a>
        <a href="#" class="button button-secondary">Button Secondary</a>        <br />
    <Button text="Button Default" href="#" styles="button-default" />
    <Button text="Button Primary" href="#" styles="button-primary" />
    <Button text="Button Secondary" href="#" styles="button-secondary" />
</section>

    <section>
        <Card 
            href="#"
            title="Card Title"
            body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisl eget aliquam ultricies, nunc nisl aliquet nunc, vitae aliquam nisl nisl eu nisl. Sed vitae nisl euismod, aliquam nisl eget, aliquam nisl. Sed vitae nisl euismod, aliquam nisl eget, aliquam nisl."
        />
    </section>
</main>

<style>
main {
    max-width: 80ch;
    margin: 0 auto;
}
section {
    margin: 2rem 0;
}
</style>