---
import rocket from '../../public/favicon.svg';
---
<footer>
    <p>Website by Jesse Higgins</p>
    <p>Built with <a href="https://astro.build/" target="_blank"><img src={rocket} alt="A" width="20px" height="20px" style="display: inline-block; position: relative; top: 4px;"/>stro</a>.</p>
</footer>

<style>
    footer {
        padding: 10px 0px;
        color-scheme: light;
        text-align: center;
    }
</style>