<div id="infoWidget">
  <div id="info">
    <span style="opacity: 0.67">Serving the world from Tucson AZ</span><br>
    <a href="tel:+15207240104">+1(520)724-0104</a>
  </div>
  <img src="/logos/AlphaChrome_Logo-Icon-Diamond.svg" width="80px" height="80px" alt="Alpha Chrome Dog Icon" />
</div>

<style>
  #infoWidget {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 16px;
    padding: 16px;
    z-index: 999;
    /* position: relative;
    top: 16px;
    right: 16px; */
  }
  #info {
    font-size: 0.9rem;
    line-height: 1.4rem;
    text-transform: uppercase;
    text-align: right;
  }
</style>