---
import {Image} from "astro:assets";
---

<div id="siteTitle" class="text-align-center">
    <Image src="/logos/ChromeDog_Logo-Icon-V2.svg" width="120" height="120" alt="Chrome Dog Logo" />
</div>

<style>
    #siteTitle {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #ccLogo {
        width: 100px;
        max-width: calc(100% - 120px);
        inset: 0;
        margin: auto;
    }
    #ccLogo svg {
        fill: rgba(var(--accent), 1);
    }
    #text {
        margin-top: 20px;
    }
    #text span {
        color: rgba(0, 0, 0, 0.8);
    }
    .primary {
      font-family: var(--heading-font);
      font-weight: 300;
      font-size: 2.2rem;
      text-transform: uppercase;
    }
    .secondary {
      font-family: var(--mono-font);
      text-transform: uppercase;
      font-size: 1.5rem; 
    }
    @media (prefers-color-scheme: dark) {
        #ccLogo svg {
            fill: rgba(var(--accent), 1);
        }
        #text span {
            color: rgba(255, 255, 255, 0.8);
        }
    }
</style>