<div id="siteTitle" class="text-align-center">
    <div id="ccLogo">
        <a href="https://cloudchief.net" target="_blank">
            <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 517.49 517.49">
                <defs>
                  <style>
                    .cls-1 {
                      stroke-width: 0px;
                    }
                  </style>
                </defs>
                <g id="Layer_1-2" data-name="Layer 1">
                  <g id="Layer_2-2" data-name="Layer 2">
                    <g id="Layer_1-2" data-name="Layer 1-2">
                      <g id="Layer_2-2" data-name="Layer 2-2">
                        <g id="Layer_1-2-2" data-name="Layer 1-2-2">
                          <g id="Layer_15" data-name="Layer 15">
                            <g>
                              <polygon class="cls-1" points="238.38 400 258.68 475.19 254.82 377.94 238.38 400"/>
                              <polygon class="cls-1" points="278.97 400 262.53 377.94 258.68 475.19 278.97 400"/>
                            </g>
                            <polygon class="cls-1" points="176.24 305.21 157.51 320.45 120.53 321.7 206.56 198.01 176.24 305.21"/>
                            <path class="cls-1" d="m215.51,179.56l-36.03,128.22,59.6,48.24,19.72-21.52,19.61,21.52,59.61-48.24-35.98-128.22-43.24-43.55-43.29,43.55Zm75.67,18.45l-32.38,61.84-32.52-61.84,32.52-30.77,32.38,30.77Z"/>
                            <polygon class="cls-1" points="341.25 305.21 359.99 320.45 396.97 321.7 310.93 198.01 341.25 305.21"/>
                            <polygon class="cls-1" points="258.8 42.3 215.6 173.5 258.8 120 302.01 173.5 258.8 42.3"/>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                  <path class="cls-1" d="m258.75,517.49c-69.11,0-134.09-26.91-182.96-75.79S0,327.86,0,258.75,26.91,124.66,75.79,75.79C124.66,26.91,189.63,0,258.75,0s134.09,26.91,182.96,75.79c48.87,48.87,75.79,113.85,75.79,182.96s-26.91,134.09-75.79,182.96-113.85,75.79-182.96,75.79Zm0-503.49C123.79,14,14,123.79,14,258.75s109.79,244.75,244.75,244.75,244.75-109.79,244.75-244.75S393.7,14,258.75,14Z"/>
                </g>
              </svg>
        </a>
    </div>
        <div id="text">
            <span class="text-h2">Jesse Higgins</span><br />
            <span class="text-h5">Designer & Developer</span>
        </div>
</div>

<style>
    #siteTitle {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #ccLogo {
        width: 100px;
        max-width: calc(100% - 120px);
        inset: 0;
        margin: auto;
    }
    #ccLogo svg {
        fill: rgba(var(--accent), 1);
    }
    #text {
        margin-top: 20px;
    }
    #text span {
        color: rgba(0, 0, 0, 0.8);
    }
    @media (prefers-color-scheme: dark) {
        #ccLogo svg {
            fill: rgba(var(--accent), 1);
        }
        #text span {
            color: rgba(255, 255, 255, 0.8);
        }
    }
</style>