<div id="siteTitle" class="text-align-center">
    <span class="text-h1">Jesse Higgins</span><br />
    <span class="text-h4">Front-End Designer & Developer</span>
</div>

<style>
    #siteTitle {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>