---
nav: true
---

<nav id="mainMenu">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/projects">Projects</a>
        </li>
        <li>
            <a href="/ui-design">UI Design</a>
        </li>
        <li>
            <a href="/resume">Resume</a>
        </li>
        <li>
            <a href="/weather">Weather</a>
        </li>
    </ul>
</nav>

<style>
    #mainMenu ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
    }
    #mainMenu ul > li {
        margin-right: 40px;
    }
    #mainMenu ul > li > a {
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }
</style>