---
nav: true
---

<nav id="mainMenu">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/projects">Projects</a>
        </li>
    </ul>
</nav>

<style>
    #mainMenu ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
    }
    #mainMenu ul > li {
        margin-right: 40px;
    }
</style>