---
nav: true
const currentPath = Astro.url.pathname;
---

<nav id="mainMenu">
    <ul>
        <li>
            <a href="/" class={currentPath == '/' ? 'active' : ''}>
                Home
            </a>
        </li>
        <li>
            <a href="/about" class={currentPath == '/about' ? 'active' : ''}>
                About
            </a>
        </li>
        <li>
            <a href="/projects" class={currentPath == '/projects' ? 'active' : ''}>
                Projects
            </a>
        </li>
        <li>
            <a href="/resume" class={currentPath == '/resume' ? 'active' : ''}>
                Resume
            </a>
        </li>
    </ul>
</nav>

<style>
    #mainMenu ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
    }
    #mainMenu ul > li {
        margin-right: 40px;
    }
    #mainMenu ul > li > a {
        color: var(--text-muted);
        font-family: var(--mono-font);
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        transition: color 0.2s;
    }
    #mainMenu ul > li > a:hover, .active {
        color: var(--accent) !important;
    }
    #mainMenu ul > li > a:active {
        color: var(--accent-active) !important;
    }
</style>