---
nav: true
const currentPath = Astro.url.pathname;
import MainMenu from '../../menu-main.json';
---

<nav id="mainMenu">
    <ul>
        {MainMenu.Links.map( Link => 
        <li>
            <a href={Link.Path} class={currentPath == Link.Path ? 'active' : ''}>
                {Link.Name}
            </a>
        </li> 
        )}
    </ul>
</nav>

<style>
    #mainMenu ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
    }
    #mainMenu ul > li {
        margin-right: 40px;
    }
    #mainMenu ul > li > a {
        color: var(--text-muted);
        font-family: var(--mono-font);
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        transition: color 0.2s;
    }
    #mainMenu ul > li > a:hover, .active {
        color: var(--accent) !important;
    }
    #mainMenu ul > li > a:active {
        color: var(--accent-active) !important;
    }
</style>