<span id="textDisplay">Replace me!</span>

<style>
  span {
    display: block;
    font-size: 1.2em;
    font-family: var(--mono-font);
    font-weight: bold;
    color: rgb(var(--color-secondary));
    text-align: center;
    animation: pulse 1.5s infinite linear;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
</style>
<script is:inline>
const splashTexts = [
  "Man-owned!",
  "Human-owned!",
  "Five Stars!",
  "High Five!",
  "Totally Organic!",
  "No ʀᴇᴅᴀᴄᴛᴇᴅ required!",
  "One Million Dollars!",
  "Hot Dog!",
  "The bee's knees!",
  "Buy one get one!",
  "99.9% sugar free!",
  "Πίθι ή άπιθι",
  "Totally Legal!",
  "Now offering SEO!",
  "Κάλλιο αργά παρά ποτέ",
  "Lorem ipsum!",
  "Not Cheap!",
  "Wow!",
  "Now accepting Dogecoin!",
  "What? Yes!",
  "Praise יהוה!",
  "Now open to negotiation!",
  "But wait, there's more!",
  "Call Now! (or later if you want)",
  "Don't Run! Walk! Slowly!",
  "Now with 5% more cowbell!",
  "Less lame than our competition!",
  "Who Cares? I care!",
  "Eat This!",
  "Why Wait!",
  "Try this on for size!",
  "The droids you're looking for!",
  "Now with 13.7% less cringe!",
  "Yeah Right!",
  "Not a pyramid scheme!",
  "Woah!",
  "Ask your doctor!",
  "Question authority!",
  "You are beautiful!",
  "Drugs are bad!",
  "Read the Bible!",
  "Call your dad!",
  "100% guaranteed!",
  "Nothing like it!",
  "Nothing else matters!",
  "Not a cult!",
  "Criminally sane!",
  "Lets be friends!",
  "A 100% Unsimulated Experience!",
  "Totally legit!",
  "I love you!",
  "I actually care!",
  "99% totally serious!",
  "Now with less cowbell!",
  "I work for you!",
  "It's a real knife fight out there!",
  "-15% Off!",
  "You do the math!",
  "You're gosh darn right!",
  "Reliable!",
  "Your knight in shining armor!"
];

function getRandomSplashText() {
  return splashTexts[Math.floor(Math.random() * splashTexts.length)];
}

const textDisplay = document.querySelector("#textDisplay");
textDisplay.innerHTML = getRandomSplashText();
</script>