<span id="textDisplay">Replace me!</span>

<style>
  span {
    display: block;
    font-size: 0.9em;
    font-family: var(--mono-font);
    font-weight: bold;
    color: rgb(var(--color-secondary));
    text-align: center;
    animation: pulse 1.5s infinite linear;
  }
  @media(min-width: 640px) {
    span {
      font-size: 1.2em;
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
</style>
<script is:inline>
const splashTexts = [
  "Human-Owned & Operated!",
  "Five Stars!",
  "Totally Organic!",
  "No ʀᴇᴅᴀᴄᴛᴇᴅ required!",
  "One Million Dollar Value!",
  "You'll like the way you look!",
  "Buy one get one!",
  "Totally Legal!",
  "Now offering SEO!",
  "We're Not Cheap!",
  "WOW!",
  "Now accepting Dogecoin!",
  "What? Yes!",
  "But wait, there's more!",
  "Call Now! ⁽ᵒʳ ʷʰᵉⁿᵉᵛᵉʳ⁾",
  "Believe It!",
  "You're Not Dreaming!",
  // "Don't Run! Walk! Slowly!",
  // "Now with 5% less cowbell!",
  "Less lame than our competition!",
  "Who cares? WE care!",
  // "Eat This!",
  // "Try this on for size!",
  "Now With 13.7% More!",
  "The Best in Town!",
  "Yeah Right!",
  "Not a Pyramid Scheme!",
  "WOAH!",
  "Question Authority!",
  "You're Beautiful!",
  // "Read the Bible!",
  // "Call your dad!",
  "100% Guaranteed!",
  "Nothin like it!",
  // "Nothing else matters!",
  "Not a Cult!",
  "Criminally Sane!",
  "Lets be friends!",
  "We should hang out sometime!",
  "A 100% Unsimulated Experience!",
  "Totally Legit!",
  "We all love you!",
  "We Actually Care!",
  // "99% Totally Serious!",
  "Now with less cowbell!",
  "We work for YOU!",
  // "It's a real knife fight out there!",
  // "-15% Off!",
  // "You do the math!",
  "You're gosh darn right!",
  "Reliable!",
  "Your Knight in Shining Armor!",
  "Unburdened by what has been!",
  "Now available in Blurple™!",
  "We Deliver!",
  "The Real Deal!",
  // "This is not a robbery!",
  "Get a FREE Quote!",
  "Get a FREE Consultation!",
  "We will not betray you!",
  "Solutions Today!™",
  "Will not sell your data!",
  "Showered & Shaved!",
  // "This is our 27th rodeo!",
  // "We're not like the other girls!",
  "Your Welcome!",
  // "Now serving the uncircumcised!",
  "We Believe In You!",
  // "Up with bubbles! Down with air!",
  "I identify as ʜᴛ/ᴍʟ!",
  // "Oiled & Eager!",
  "It's not a Joke!",
  "Not even kidding!",
  // "Gay for websites!",
  // "Now in Modern English!",
  "We Got Your Back!",
  "99 problems but a Ǥ𝓁𝕀т𝔠н ain't one!",
  "9/10 Doctors Recommend!",
  "Call +1(520)724-0104 Today!",
  "Making Websites Since 2076!"
];

function getRandomSplashText() {
  return splashTexts[Math.floor(Math.random() * splashTexts.length)];
}

const textDisplay = document.querySelector("#textDisplay");
textDisplay.innerHTML = getRandomSplashText();
</script>