<span id="textDisplay">Replace me!</span>

<style>
  span {
    display: block;
    font-size: 1.2em;
    font-family: var(--mono-font);
    font-weight: bold;
    color: rgb(var(--color-secondary));
    text-align: center;
    animation: pulse 1.5s infinite linear;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
</style>
<script is:inline>
const splashTexts = [
  "Man-owned!",
  "Human-owned!",
  "Five Stars!",
  "High Five!",
  "Totally Organic!",
  "No ʀᴇᴅᴀᴄᴛᴇᴅ required!",
  "One Million Dollars!",
  "Hot Dog!",
  "The bee's knees!",
  "Buy one get one!",
  "99.9% sugar free!",
  "Totally Legal!",
  "Now offering SEO!",
  "Κάλλιο αργά παρά ποτέ",
  "Lorem ipsum!",
  "Not Cheap!",
  "Wow!",
  "Now accepting Dogecoin!",
  "What? Yes!",
  "Now open to negotiation!",
  "But wait, there's more!",
  "Call Now! (or whenever)",
  "Don't Run! Walk! Slowly!",
  "Now with 5% less cowbell!",
  "Less lame than our competition!",
  "Who Cares? I care!",
  "Eat This!",
  "Why Wait!",
  "Try this on for size!",
  "The droids you're looking for!",
  "Now with 13.7% less cringe!",
  "Yeah Right!",
  "Not a pyramid scheme!",
  "Woah!",
  "Ask your doctor!",
  "Question authority!",
  "You are beautiful!",
  "Drugs are bad!",
  "Read the Bible!",
  "Call your dad!",
  "100% guaranteed!",
  "Nothing like it!",
  "Nothing else matters!",
  "Not a cult!",
  "Criminally sane!",
  "Lets be friends!",
  "A 100% Unsimulated Experience!",
  "Totally legit!",
  "We all love you!",
  "We actually care!",
  "99% totally serious!",
  "Now with less cowbell!",
  "We work for YOU!",
  "It's a real knife fight out there!",
  "-15% Off!",
  "You do the math!",
  "You're gosh darn right!",
  "Reliable!",
  "Your knight in shining armor!",
  "Not a robot!",
  "Unburdened by what has been!",
  "Now available in Blurple!",
  "We Deliver!",
  "Works every time!",
  "The Real Deal!",
  "This is not a robbery!",
  "Get a FREE Quote!",
  "Get a FREE Consultation!",
  "We will not betray you!",
  "Solutions Today! Results Later!",
  "Will not sell your data!",
  "Showered & Shaved!",
  "This is our 27th rodeo!",
  "We're not like the other girls!",
  "Your Welcome!",
  "Now serving the uncircumcised!",
  "We believe in you!",
  "Up with bubbles! Down with air!",
  "I identify as HT/ML!",
  "Oiled up and ready to go!",
  "It's not a joke!",
  "Not even kidding!",
  "Gay for websites!",
  "Now in Modern English!",
  "We got your back!",
  "99 problems but a glitch ain't one!"
];

function getRandomSplashText() {
  return splashTexts[Math.floor(Math.random() * splashTexts.length)];
}

const textDisplay = document.querySelector("#textDisplay");
textDisplay.innerHTML = getRandomSplashText();
</script>