<span id="textDisplay"></span>

<style>
  span {
    display: block;
    font-size: 0.9em;
    font-family: var(--mono-font);
    font-weight: bold;
    color: rgb(var(--color-secondary));
    text-align: center;
    animation: pulse 1.5s infinite linear;
  }
  @media(min-width: 640px) {
    span {
      font-size: 1.2em;
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
</style>
<script is:inline>
const splashTexts = [
  "Now offering SEO!",
  "Get a FREE Quote!",
  "Human-Owned & Operated!",
  "Five Stars!",
  "Call Now! (or whenever)",
  "We Deliver!",
  "The Real Deal!",
  "Solutions Today!™",
  "100% Guaranteed!",
  "One Million Dollar Value!",
  "Totally Organic!",
  "Now available in Blurple™!",
  "We're Not Cheap!",
  "Will not sell your data!",
  "WOW!",
  "What? Yes!",
  "But wait, there's more!",
  "We work for YOU!",
  "We Actually Care!",
  "Reliable!",
  "Unburdened by what has been!",
  "Believe It!",
];

const splashTextsPt2 = [
  "No ʀᴇᴅᴀᴄᴛᴇᴅ required!",
  "Nothin like it!",
  "WOAH!",
  "Less lame than our competition!",
  "Who cares? WE care!",
  "Now accepting Dogecoin!",
  "A 100% Unsimulated Experience!",
  "Try this on for size!",
  "As seen on TV!",
  "As heard on the radio!",
  "As seen on the dark web!",
  "As felt in the heart!",
  "Come on in, the water's warm!",
  "Now With 13.7% More!",
  "The Best in Town!",
  "Not a Pyramid Scheme!",
  "You'll like the way you look!",
  "Buy one get one!",
  "Totally Legal!",
  "Question Authority!",
  "Taxation is Theft!",
  "You're Beautiful!",
  "Don't Run! Walk! Slowly!",
  "Now with 5% less cowbell!",
  "Read the Bible!",
  "Call your dad!",
  "Not a Cult!",
  "99% Totally Serious!",
  "Criminally Sane!",
  "We should hang out sometime!",
  "Totally Legit!",
  "Lets be friends!",
  "We all love you!",
  "Now with 5% less cowbell!",
  "-15% Off!",
  "You do the math!",
  "You're gosh darn right!",
  "Your Knight in Shining Armor!",
  "This is not a robbery!",
  "We will not betray you!",
  "Showered & Shaved!",
  "99 problems but a Ǥ𝓁𝕀т𝔠н ain't one!",
  "We're not like the other girls!",
  "Now serving the uncircumcised!",
  "We Believe In You!",
  "Up with bubbles! Down with air!",
  "I identify as HT/ML!",
  "It's not a Joke!",
  "Not even kidding!",
  "Gay for websites!",
  "We Got Your Back!",
  "9/10 Doctors Recommend!",
  "Order NOW While Supplies Last!",
  "Making Websites Since 2076!",
  "As seen on Censored.tv!",
];

const splashTextsPt3 = [
  "ok that's it",
  "ok that's it",
  "ok that's it",
  "stop refreshing",
  "stop refreshing",
  "STOP REFRESHING",
  "SERIOUSLY STOP",
  "dude I'm serious",
  "dude please just stop",
  "just buy a website or leave",
  "Alright I'm calling the cops",
  "Yeah, I'm calling the cops",
  "I told you to stop and you wouldn't",
  "Yes hi, I have a guy here who won't stop refreshing my website",
  "I don't know, he's just sitting there refreshing the page",
  "Uh, like a hundred-something times now",
  "It's alphachrome.io",
  "a-l-p-h-a-c-h-r-o-m-e.io",
  "io, like input/output",
  "yeah it's a computer science thing",
  "Well, I mean really just because .com was taken haha",
  "Yep thaat's right",
  "Oh thank you!",
  "I still have some work to do to it",
  "Yeah you see the splash text at the top of the page?",
  "Yep, that's me",
  "Uh huh",
  "Nope",
  "Nope",
  "Yup",
  "Not really, no",
  "Typically start at $3k, depends on the project",
  "Alright, yeah, just send a message on the contact page",
  "Excellent, thank you so much!",
  "He's still here. He's still refreshing.",
  "Yep",
  "No I don't want to press charges, I just want him to stop",
  "I'm not sure, I think he's just trying to see all the splash texts",
  "I don't know, I think he's just bored",
  "Ok thank you. Yes, I'll be here.",
  "Ok, thank you. Goodbye.",
  "They're on their way.",
];

function setCookie(name, value, hours) {
  const date = new Date();
  date.setTime(date.getTime() + (hours * 60 * 60 * 1000));
  const expires = "expires=" + date.toUTCString();
  document.cookie = name + "=" + value + ";" + expires + ";path=/";
}

function updateSplashText(num) {
  const textDisplay = document.querySelector("#textDisplay");
  if (num < splashTexts.length) {
    textDisplay.innerHTML = splashTexts[num];
  } else if (num < splashTexts.length + splashTextsPt2.length) {
    num = num - splashTexts.length;
    textDisplay.innerHTML = splashTextsPt2[num];
  } else if (num < splashTexts.length + splashTextsPt2.length + splashTextsPt3.length) {
    num = num - splashTexts.length - splashTextsPt2.length;
    textDisplay.innerHTML = splashTextsPt3[num];
  } else if (num >= splashTexts.length + splashTextsPt2.length + splashTextsPt3.length) {
    textDisplay.innerHTML = "...";
  }
}

let cookie = document.cookie;
if (cookie) {
  const regex = /splshTxt=(\d+)/;
  let splshTxtVal = Number(cookie.match(regex)[1]);
  if (splshTxtVal) {
    updateSplashText(splshTxtVal);
    setCookie("splshTxt", splshTxtVal + 1, 3);
  }
  else {
    textDisplay.innerHTML = splashTexts[0];
    setCookie("splshTxt", 1, 3);
  }
}
</script>