---
const {parent} = Astro.props
const {items} = Astro.props
---
<div class="tree-list">
    <span class="label text-h5">{parent}</span>
    <ul>
        {items.map(item => <li>{item}</li>)}
    </ul>
</div>

<style>
    .tree-list {
        margin-left: 20px;
        min-width: 200px;
    }
    .label {
        font-size: 1rem;
        text-transform: uppercase;
    }
    li {
        font-family: var(--body-font);
        list-style: none;
        width: fit-content;
        font-size: 0.9rem;
        color: rgb(var(--color-base));
    }
    li:after {
        content: '';
        display: block;
        position: relative;
        width: calc(100% + 20px);
        left: -10px;
        border-bottom: solid 2px rgb(var(--color-muted));
    }
    ul {
        margin-top: 10px;
        padding-left: 10px;
        border-left: 2px solid rgb(var(--color-muted));
    }
    /* div {
        display: block;
        width: auto;
    } */
</style>