---
nav: true
const currentPath = Astro.url.pathname;
import MainMenu from '../../menu-main.json';
---

<nav id="verticalNav">
    <ul>
        {MainMenu.Links.map( Link => 
        <li>
            <a href={Link.Path} class={currentPath == Link.Path ? 'active' : ''}>
                {Link.Name}
            </a>
        </li> 
        )}
    </ul>
</nav>

<style>
    ul {
        list-style: none;
        text-align: center;
    }
    ul > li {
        margin-right: 40px;
        display: block;
    }
    ul > li > a {
        display: inline-block;
        position: relative;
        font-family: var(--mono-font);
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        transition: color 0.2s;
        font-size: 2rem;
        line-height: 3rem;
        transition: all 0.2s;
    }
    ul > li > a:hover, .active {
        color: var(--link-hover);
        text-shadow: none;
    }
    ul > li > a:hover::before {
        content: '';
        display: block;
        position: absolute;
        inset: 0;
        margin: auto;
        width: 100%;
        height: 3rem;
        z-index: -1;
    }
    ul > li > .hidden {
        display: none;
    }
    @media (prefers-color-scheme: dark) {
        ul > li > a:hover, .active {
        color: var(--link-hover);
        text-shadow: 0 0 10px var(--glow), 0 0 20px #8800ff;
    }
    }
</style>