---
nav: true
const currentPath = Astro.url.pathname;
---

<nav id="verticalNav">
    <ul>
        <li>
            <a href="/" class={currentPath == '/' ? 'active' : ''}>
                Home
            </a>
        </li>
        <li>
            <a href="/about" class={currentPath == '/about' ? 'active' : ''}>
                About
            </a>
        </li>
        <li>
            <a href="/projects" class={currentPath == '/projects' ? 'active' : ''}>
                Projects
            </a>
        </li>
        <li>
            <a href="/ui-design" class={currentPath == '/ui-design' ? 'active' : ''}>
                UI Design
            </a>
        </li>
        <li>
            <a href="/resume" class={currentPath == '/resume' ? 'active' : ''}>
                Resume
            </a>
        </li>
        <li>
            <a href="/weather" class={currentPath == '/weather' ? 'active' : ''}>
                Weather
            </a>
        </li>
    </ul>
</nav>

<style>
    ul {
        text-align: center;
        list-style: none;
    }
    ul > li {
        margin-right: 40px;
    }
    ul > li > a {
        color: var(--text-muted);
        font-family: var(--mono-font);
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        transition: color 0.2s;
        font-size: 2.5rem;
        line-height: 3rem;
    }
    ul > li > a:hover, .active {
        color: var(--accent) !important;
    }
    ul > li > a:active {
        color: var(--accent-active) !important;
    }
</style>