---
import Layout from "../../layouts/ProjectLayout.astro";
---

<Layout
    title="Flock Off"
    industry="Pest Control, Technology"
    description="Redesign & Build with WordPress"
    logo="/logos/FlockOff_Logo-Text-DarkBlueLightBlue.svg"
    screenshot="/sitecaptures/WebsiteCapture_FlockOff-Home@650px.webp"    
    link="https://www.flockoff.com/"
>

<p>This was a website redesign and development project for Flock Off, a Pest Control Technology startup company in Tucson Arizona. It was built with WordPress, using YOOtheme. I did a lot of graphics work on this one, as well as custom animations and effects with CSS and JavaScript. I also hooked up a user portal for product distributors across the globe to access documents and media.</p>

</Layout>