---
import Layout from "../../layouts/ProjectLayout.astro";
---

<Layout
    title="Mil+Spec Liner®"
    industry="Bed Liner Manufacturer"
    description="New website for a bed liner manufacturer in Tucson, AZ."
    logo="/logos/MilSpecLiner-Logo.webp"
    screenshot="/sitecaptures/WebsiteCapture_MilSpecLiner-Home.png"    
>
    <h2>Features</h2>
    <ul>
        <li>User portal</li>
        <li>Custom Graphics</li>
        <li>Custom CSS & JavaScript Animations</li>
    </ul>
    <h2>Project Description</h2>
    <p>This was a website rebuild project for a pest control company in Tucson called Pest Friends. It was built with WordPress, YOOtheme. It required the use of regex to set dynamic redirects after reorganizing the post category structure and maintain SEO ranking. Also had to do a manual migration after requesting an export of the database from the previous site which contained over 200 pages and blog posts.</p>
</Layout>