---
import Layout from "../../layouts/ProjectLayout.astro";
---

<Layout
    title="Mil+Spec Liner®"
    industry="Bed Liner Manufacturer"
    description="New Website Design & Build, Small FPS Game"
    logo="/logos/MilSpecLiner-Logo.webp"
    screenshot="/sitecaptures/WebsiteCapture_MilSpecLiner-Home@650px.webp" 
    link="https://milspecliner.com/"  
>
    <!-- <h3>Features</h3>
    <ul>
        <li>User portal</li>
        <li>Custom Graphics</li>
        <li>Custom CSS & JavaScript Animations</li>
    </ul> -->
    <p>
        Where I usually load in a template and tweak the style with regards to colors and fonts before adding content and media and adjusting layout according to what the content is, this project was a little more involved than usual with the style design. This was a new Bed Liner company, and being owned by a former Special Forces Sniper, they were going for the military brand style which would catch the attention of anyone who was former military, or the type of people who like tactical gear and Black Rifle Coffee. Their brand style was just their logo, and so I just went off of that as I usually do. 
    </p>
    <p>
        There's things I would have done differently looking back after it was done. I should have designed the UI elements and home page concept in PhotoShop or Figma before jumping into the build. Certain elements and color combinations could have been better I think, but I didn't have much time to keep tweaking things after I had already spent so much time getting the camo patterns to be repeatable and not ugly, and finding the right contrast ratios between the backgrounds and text that I just kept it where it was. But they loved the design, and I was content with it.
    </p>
    <p>
        We also made a <a href="https://milspecliner.com/game/" target="_blank">Mil+Spec Liner® FPS Game</a>. It wasn't anything I would brag about, just a fairly simple side project where I learned a lot about Unity3d, C#, OOP, and Game Design. 
    </p>
</Layout>