---
import Layout from "../../layouts/ProjectLayout.astro";
---

<Layout
    title="Pest Friends"
    industry="Pest Control"
    description="Total WordPress migration and rebuild"
    logo="/logos/PestFriends-Logo-DarkMode.svg"
    screenshot="/sitecaptures/WebsiteCapture_PestFriends-Home@650px.webp"
    link="https://www.mypestfriends.com"    
>
    <!-- <h2>Features</h2>
    <ul>
        <li>User portal</li>
        <li>Custom Graphics</li>
        <li>Custom CSS & JavaScript Animations</li>
    </ul> -->
    <p>This was a website rebuild project for a pest control company in Tucson called Pest Friends. It was built with WordPress, YOOtheme. It required the use of regex to set dynamic redirects after reorganizing the post category structure and maintain SEO ranking. Also had to do a manual migration after requesting an export of the database from the previous site which contained over 200 pages and blog posts.</p>
</Layout>