---
import '../styles/global.css';
import "../styles/scrollbar.css";
export interface Props {
	title: string;
}
const { title } = Astro.props;
import {ViewTransitions} from 'astro:transitions';
import TriElement from '../components/TriangleElement.astro';
import SideNav from '../components/SidebarMenu.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<div id="pageElements" style="min-height: 100vh;">
			<div id="mobileHeader">
				<a href="/" id="mainMenuLink">
					Main Menu
				</a>
			</div>
			<SideNav />
			<div id="contentDisplay" class="flex-2">
				<div class="fade fade-top"></div>
				<slot />
				<div class="fade fade-bottom"></div>
			</div>
		</div>
	</body>
	<TriElement />
</html>
<style is:global>
	/* Mobile Navigation */
	#mobileHeader {
		display: flex;
    	width: 100%;
    	padding: 0.5rem;
    	flex-direction: row;
    	justify-content: center;
	}
	#mainMenuLink {
		font-family: var(--mono-font);
		text-transform: uppercase;
	}
	@media(min-width:640px) {
		#sidebarMenu {
			display: flex;
		}
		#mobileHeader {
			display: none;
		}
	}
	/* End Mobile Navigation */
	#contentDisplay {
		height: 100vh;
		overflow-y: scroll;
		overflow-x: hidden;
		background-color: rgba(var(--dark-background-secondary), 50%);
		position: relative;
	}
	.fade {
		display: block;
		position: sticky;
    	height: 60px;
		width: 100%;
	}
	.fade-top {
		top: 0px;
    	background: linear-gradient(180deg, rgb(var(--dark-background-secondary)) 0%, #00000000 100%);
		z-index: 1;
	}
	.fade-bottom {
		bottom: 0px;
    	background: linear-gradient(0deg, rgb(var(--dark-background-secondary)) 0%, #00000000 100%);
		z-index: 1;
	}
	/* #contentDisplay::before {
		content: '';
    	display: block;
		position: absolute;
		top: 0px;
    	height: 60px;
		width: 100%;
    	background: linear-gradient(180deg, rgb(var(--dark-background-secondary)) 0%, #00000000 100%);
		z-index: 1;
	}
	#contentDisplay::after {
		content: '';
    	display: block;
		position: absolute;
    	height: 60px;
		width: 100%;
		bottom: 0px;
    	background: linear-gradient(0deg, rgb(var(--dark-background-secondary)) 0%, #00000000 100%);
	} */
	#pageElements {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	main {
		padding: 40px;
		position: relative;
		top: 60px;
		min-height: calc(100vh - 280px);
    } 
	@media(min-width:640px) {
		main {
			padding: 80px;
			top: -50px;
		}
		#contentDisplay {
			max-width: 100ch;
		}
	}
</style>
